<div class="row">
    <div class="col-sm-4">
        <button [routerLink]="['/crear-libro']" class="btn btn-block btn-info">ruta 1</button>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-block btn-info">ruta 2</button>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-block badge-info">ruta 3</button>
    </div>
</div>