<h1>Component AppComponent</h1>

<!-- <libro></libro> -->
<!-- miguel -->
<!-- <autor-listar></autor-listar>    -->
<!-- andres -->
<!-- <crear-autor></crear-autor> -->
<!-- oscar -->
<!-- <info-autor></info-autor> -->
<!-- carlos -->
<!-- <app-editorial-crear></app-editorial-crear> -->
<!-- cristhian -->
<!-- <editorial-info></editorial-info> -->
<!-- paola -->
<!-- <app-libro-crear></app-libro-crear> --> 
<router-outlet></router-outlet>


